<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUS - Selfhosted URL Shortener</title>
    <link rel="stylesheet" href="./public/styles.css">
    <link rel="stylesheet" href="./public/tooltips.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
</head>
<body>
    <form class="shadow input-box">
        <input  id="url-box" class="hover-shadow" type="text" placeholder="Paste the URL...">
        <button id="btn-shorten" class="hover-shadow" onclick="shorten()">➞</button>
    </form>

    <div class="shadow output-box">
        <div>
            <p id="short-box"></p>
            <img src="./public/copy.svg" alt="copy" class="hover-shadow copy-btn" data-clipboard-target="#short-box">
        </div>
    </div>

    <script>
        new ClipboardJS('.copy-btn');

        async function shorten() {
            event.preventDefault();

            const urlBox = document.querySelector('#url-box');

            const response = fetch('.', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    url: urlBox.value
                }),
            });

            const responseObj = (await response).json();

            const shortBox = document.querySelector('#short-box');
            shortBox.innerHTML = window.location.href + (await responseObj).url;
            document.querySelector('.output-box').style.transform = 'scale(100%)';
        }
    </script>
</body>
</html>
