<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUS - Selfhosted URL Shortener</title>
    <link rel="stylesheet" href="./public/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
</head>
<body>
    <form class="shadow input-box">
        <input  id="url-box" class="hover-shadow" type="text" placeholder="Paste the URL...">
        <button id="btn-shorten" class="hover-shadow" onclick="shorten()">➞</button>
    </form>

    <div class="shadow output-box"></div>

    <script>
        // Used for saving to localStorage
        class UrlObj {
            constructor(id) {
                this.id  = id;
            }

            saveToLS() {
                const urlArr = JSON.parse(localStorage.urls);
                urlArr.push(this);
                localStorage.urls = JSON.stringify(urlArr);
            }
        }

        new ClipboardJS('.copy-btn');

        const outputBox = document.querySelector('.output-box');
        const urlBox = document.querySelector('#url-box');

        console.log(localStorage.urls)
        try {
            const urlArr = JSON.parse(localStorage.urls);

            for(let url of urlArr) {
                showUrl(url.id);
            }
        } catch(err) {
            console.log(err);
            localStorage.urls = JSON.stringify([]);
        }

        async function shorten() {
            event.preventDefault();

            const response = fetch('.', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    url: urlBox.value
                }),
            });

            const responseObj = (await response).json();
            const urlID = (await responseObj).url;
            showUrl(urlID);

            const urlObj = new UrlObj(urlID);
            urlObj.saveToLS();
        }

        function showUrl(id) {
            if (outputBox.style.transform !== '') {
                outputBox.appendChild(document.createElement('hr'));
            }

            outputBox.innerHTML += `
            <div>
                <p id="_${id}">${window.location.href + id}</p>
                <img src="./public/copy.svg" alt="copy" class="hover-shadow copy-btn" data-clipboard-target="#_${id}">
            </div>
            `;

            outputBox.style.transform = 'scale(100%)';
        }
    </script>
</body>
</html>
