:root {
    --bg-light: #E9E9E9;
    --bg-dark: #1F1F1F;
    --shadow-light: ;
    --shadow-dark: ;
    --text-light: initial;
    --text-dark: darkgray;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
    margin:           0;
    height:           100vh;
    font-family:      sans-serif;
}

#app {
    height:           100vh;
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;
}

input {
    width: 20rem;
}

button {
    cursor: pointer;
}

hr {
    border-color: lightgray;
}

.shadow {
    background-color:  var(--bg-light);
    transition-duration: 200ms;
    padding:       5px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow:
        10px 10px 7px #BBBBBB,
        -10px -10px 7px aliceblue,
        inset 5px 5px 3px aliceblue,
        inset -5px -5px 3px #BBBBBB;
}

.input-box * {
    padding: 15px;
    border:  none;
    border-radius:    10px;
    background-color: transparent;
    transition: background-color 200ms;
}

.output-box {
    transform:  scale(0%);
    transition: transform ease 200ms;
    width:      20rem;
    padding-bottom: 6px;
}

.output-box > div {
    overflow-y: scroll;
    max-height: 80vh;
/*    padding: 16px;*/
    padding: 16px 0;
}

.output-box > div > div {
    margin-bottom:  16px;
    padding: 0 16px 16px 16px;
    border-bottom: 2px solid #5d5d5d;
}

.output-box > div > div:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding: 0 16px;
}

/* .output-box > div::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent
} */

.output-shown {
    transform: scale(100%);
}

.output-box-text-div p {
    margin: 0;
}

.full-url-p {
    margin: 16px 0 0 0;
    overflow-y: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.icons {
    display: flex;
}

.icons img {
    cursor: pointer;
}

.copy-btn {
    margin-right: 10px;
}

.output-box-text-div {
    display: flex;
    justify-content: space-between;
    align-items:     center;
}

.short-box::after {
    content: url('./copy.svg');
    /* display: inline; */
}

.hover-shadow {
    will-change: filter;
    transition:  filter ease-out 200ms;
}

.hover-shadow:hover {
    filter: drop-shadow(0 0 .3rem #202020);
}

.input-box input:focus {
    filter: none;
}

@media (prefers-color-scheme: dark) {
    * {
    color: var(--text-dark);
}

body {
    background-color: var(--bg-dark);
}

hr {
        border-color: #464646;
    }

    .shadow {
        background-color: var(--bg-dark);
        box-shadow:
            10px 10px 7px #121212,
            -10px -10px 7px #262626,
            inset 5px 5px 3px #262626,
            inset -5px -5px 3px #121212;
    }

    .hover-shadow:hover {
        filter: drop-shadow(0 0 .3rem #E9E9E9);
    }

    .output-box img {
        filter: invert();
    }

    .output-box img:hover {
        filter: invert() drop-shadow(0 0 .3rem #E9E9E9);
    }
}
